llama-index==0.8.35
openai>=1.58.1
langchain==0.3.0
langchain-core==0.3.0
langchain-openai==0.3.0
langchain_experimental
langchain_community
llama-index-core
llama-index-embeddings-openai
llama-index-llms-gemini
llama-index-embeddings-gemini
llama-index-postprocessor-flag-embedding-reranker
llama-parse
llama-index-embeddings-fastembed
fastembed
pinecone
pinecone-client[grpc]
faiss-cpu
poppler-utils
python-poppler
pdf2image
pytesseract
PyPDF2
pdfplumber
streamlit==1.28.0
git+https://github.com/FlagOpen/FlagEmbedding.git
